<html>
  <head>
     <title>Research Questionnaire</title>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
	   integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  </head>
  <body>
    <br />
    <br />
    <div class="container"><br>
        <h2>Research Questionnaire Form</h2>
    </div>

    <div class="container"><br>
        <p>Please choose one of the following studies:</p>
        <ol>
          <li>
            <a href="/userinfo?selection=study1">Study 1</a>
          </li>
          <li>
            <a href="/userinfo?selection=study2">Study 2</a> 
          </li>
        </ol> 
    </div>
  </body>
</html>