<html>

<head>
  <title>Research Questionnaire</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>

<body>
  <div class="container"><br>
    <center>
      <h2>Research Questionnaire Form</h2>
    </center>
  </div>

  <div class="container"><br>
    <h3>Instructions</h3>
    <p>Please read each review below and answer the question followed by it.</p>
    <h3>Reviews & Questions</h3>
    <br />
    <form action="/submit_study1?userid={{userid}}" method="post" rule="form" id="study1-form-data">
      <!-- <input value = "{{[i]}}" type="hidden" name="1-{{i}}-id"> -->

      <!-- <div class="form-check form-check-inline"  >
                        <input class=" form-check-input" type="radio" name="1-{{i}}-radio" id="1-{{i}}-radio-1"
        value="option1" />
      <label class="form-check-label" for="1-{{i}}-radio-1">1</label>
      </div> -->

      {% for i in range(0, 6): %}
      <h5>{{i+1}}:</h4>

        <div style="padding-left: 20pt">

          <p><b>Review:</b></p>
          <p>{{review_list[i][1]}}</p>

          <p><b>Question:</b></p>
          <p>
            {{question_list[i][1]}}
            <input value="{{question_list[i][0]}}" type="hidden" name="{{i}}-qid">
            <input value="{{review_list[i][0]}}" type="hidden" name="{{i}}-rid">
            <div class="form-check form-check-inline">
              {{question_list[i][3]}} &nbsp;
              <input class="form-check-input" type="radio" name="{{i}}-radio" id="{{i}}-radio-1" value="option1" />
              <label class="form-check-label" for="{{i}}-radio-1">1</label>
            </div>

            <div class="form-check form-check-inline">
              <input class=" form-check-input" type="radio" name="{{i}}-radio" id="{{i}}-radio-2" value="option2" />
              <label class="form-check-label" for="{{i}}-radio-2">2</label>
            </div>

            <div class="form-check form-check-inline">
              <input class=" form-check-input" type="radio" name="{{i}}-radio" id="{{i}}-radio-3" value="option3" />
              <label class="form-check-label" for="{{i}}-radio-3">3</label>
            </div>

            <div class="form-check form-check-inline">
              <input class=" form-check-input" type="radio" name="{{i}}-radio" id="{{i}}-radio-4" value="option4" />
              <label class="form-check-label" for="{{i}}-radio-4">4</label>
            </div>

            <div class="form-check form-check-inline">
              <input class=" form-check-input" type="radio" name="{{i}}-radio" id="{{i}}-radio-5" value="option5" />
              <label class="form-check-label" for="{{i}}-radio-5">5</label>
            </div>

            <div class="form-check form-check-inline">
              <input class=" form-check-input" type="radio" name="{{i}}-radio" id="{{i}}-radio-6" value="option6" />
              <label class="form-check-label" for="{{i}}-radio-6">6</label>
            </div>

            <div class="form-check form-check-inline">
              <input class=" form-check-input" type="radio" name="{{i}}-radio" id="{{i}}-radio-7" value="option7" />
              <label class="form-check-label" for="{{i}}-radio-7">7</label>
            </div>

            <div class="form-check form-check-inline">
              <input class=" form-check-input" type="radio" name="{{i}}-radio" id="{{i}}-radio-8" value="option8" />
              <label class="form-check-label" for="{{i}}-radio-8">8</label>
            </div>

            <div class="form-check form-check-inline">
              <input class=" form-check-input" type="radio" name="{{i}}-radio" id="{{i}}-radio-9" value="option9" />
              <label class="form-check-label" for="{{i}}-radio-9">9</label>
            </div>
            {{question_list[i][4]}}
          </p>
        </div>
        <hr />
        <br />
        {% endfor %}
  </div>
  <br>
  <center>
    <button type="submit" id="submit-study1-button" class="btn btn-success">Submit</button>
  </center>
  </form>
  <br />
  <br />
  </div>

  <script src="https://code.jquery.com/jquery-3.5.0.min.js" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <script>
    $(document).ready(function () {
      $('#submit-study1-button').click(function (e) {
        e.preventDefault()
        is_form_filled = false

        let i = 0;
        // check if type 1 questions are answers
        for (i = 0; i < 6; i++) {
          radio_name = i + "-radio";
          if ($("input[name='" + radio_name + "']:checked").length > 0) {
            // do nothing
            console.log(radio_name + " is checked.")
          }
          else {
            alert("Please answer all the questions.");
            break;
          }
        }
        if (i == 6) {
          $('#study1-form-data').get(0).submit();
        }

      })
    });
  </script>
</body>

</html>